html,body{
    height: 100%;
}
.container{
    width:100%;
    height: 100%;
    background-size:cover;
    background-position:top center;
}

.core{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 6%;
    z-index: 10;
}

.pick,.downloadPic{
    width: 40vw;
    height: 40vw;
    border: 4px solid #f64a0f;
    border-radius: 6px;
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
    margin-top: -10px;
}

.pickCont{
    width: 100%;
    position: absolute;
    left: 0;
    height: 100%;
    background-color: #fff0d3;

}

.capImg{
    width: 80vw;
    margin: 0 auto;
}

.capImg img{
    width: 100%;
}

.pick img,.pickCont img,.downloadPic img{
    width: 100%;
    position:absolute;
    left: 0;
}

.btn_group{
    width: 100%;
    margin-bottom: 8px;
}

.btn_group span{
    width: 40%;
    display: inline-block;
}

.btn_group span img{
    width: 100%;
}

.sudokt{
    width: 70%;
    z-index: 10;
    margin: 0 auto;
    position: relative;
}

.sudokt img{
    width: 100%;
}

.grid {
    position:absolute;
    width: 23.3vw;
    height:23.3vw;
    cursor: pointer;
}

.grid01{
    top: 0;
}

.grid02{
    top: 0;
    left: 23.3vw;
}
.grid03{
    top: 0;
    left: 46.6vw;
}

.grid04{
    top: 23.3vw;
}

.grid05{
    top: 23.3vw;
    left: 23.3vw;
}
.grid06{
    top: 23.3vw;
    left: 46.6vw;
}

.grid07{
    top: 46.6vw;
}

.grid08{
    top: 46.6vw;
    left: 23.3vw;
}
.grid09{
    top: 46.6vw;
    left: 46.6vw;
}

.imgbottom{
    z-index: 2;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.anew_font{
    font-size: 24px;
    margin: 20px 0;
    color: #f44236;
}